# Node.js / React specific
node_modules/
build/

# ASP.NET specific
bin/
obj/
.vs/

# Visual Studio specific files
*.user

# Log files
*.log

# Other
.DS_Store            # macOS specific
Thumbs.db           # Windows specific
