html, body {
  margin: 0; 
  display: flex;
  justify-content: center; 
  margin: 0; 
  overflow-y: auto;
}

.full-page-content {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  padding: 20px; 
  box-sizing: border-box; 
  text-align: center;
  overflow: visible;
  min-height: 100vh; 
}


.pet-container {
  text-align: center;
}

.animal-type-stats {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  position:absolute; 
  top: 160px;
  left: 50px; 
  overflow:visible;
}

.animal-type-stats ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.animal-type-stats li {
  margin-bottom: 5px; 
}

.general-animal-stats {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  position:absolute; 
  top: 0;          
  left: 50px; 
  list-style-type: none; 
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: "150px"; 
  height: "150px";
  overflow: visible;
  position: relative;

}

.pet-details {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  overflow: visible;
}

.pet-details img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden; 
  position: relative;

}

.add-pet-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: auto; 
  position: relative;

}

.form-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.form-row-selectors {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  height: 41px;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

input,
select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  border: none;
  background: none;
  padding: 0;
}

.image-button-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -17px;
}

.image-button-container img {
  width: 85px;
  height: 75px;
}

.add-pet-text {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2e221c;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}