html, body {
  margin: 0; 
  display: flex;
  justify-content: center; 
  margin: 0; 
  overflow-y: auto;
}
.full-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem; 
  box-sizing: border-box;
  text-align: center;
  overflow: visible;
  min-height: 100vh;
}

.pet-container {
  text-align: center;
}

.animal-type-stats {
  margin-bottom: 1.25rem; 
  padding: 0.625rem;
  border-radius: 0.3125rem; 
  text-align: right;
  position: absolute;
  top: 0rem;
  right: 3.125rem; 
  overflow: visible;
}

.animal-type-stats ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.animal-type-stats li {
  margin-bottom: 0.3125rem; 
}

.general-animal-stats {
  margin-bottom: 1.25rem;
  padding: 0.625rem; 
  border-radius: 0.3125rem;
  text-align: left;
  position: absolute;
  top: 0;
  left: 3.125rem; 
  list-style-type: none;
}
.pet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: visible;
  position: relative;
}

.pet-details {
  display: inline-block;
  margin: 0.625rem; 
  padding: 0.625rem; 
  border: 1px solid #ccc;
  border-radius: 0.5rem; 
  text-align: center;
  overflow: visible;
}

.pet-details img {
  width: 9.375rem; 
  height: 9.375rem; 
  object-fit: cover;
  border-radius: 0.5rem; 
  overflow: hidden;
  position: relative;
}

.add-pet-form {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  width: 100%;
  max-width: 37.5rem; 
  margin: 0 auto;
  overflow: auto;
  position: relative;
}


.form-row {
  display: flex;
  justify-content: center;
  gap: 0.9375rem; 
}

.form-row-selectors {
  display: flex;
  justify-content: center;
  padding: 0.625rem; 
  gap: 0.9375rem; 
  height: 2.5625rem; 
}


.input-row {
  display: flex;
  align-items: center;
  gap: 0.9375rem; 
}

input,
select {
  width: 12.5rem; 
  padding: 0.625rem;
  font-size: 1rem; 
  border: 1px solid #ccc;
  border-radius: 0.25rem; 
}

.submit-button {
  border: none;
  background: none;
  padding: 0;
}

.image-button-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1.0625rem; 
}

.image-button-container img {
  width: 5.3125rem; 
  height: 4.6875rem; 
}

.add-pet-text {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2e221c;
  font-size: 0.6875rem; 
  font-weight: bold;
  text-align: center;
}
